---
layout: noimage
group: navigation
linkname: funding
title: Funding - Computational Neuroscience Laboratory
pagetitle : Funding
order: 5
---
{% include JB/setup %}

<p>We thank our funding bodies.</p>

<div class ="row vertical-align">
{% for funding in site.data.fundings %}


        <div class="col-xs-12 col-sm-6 text-center fundings">
            <h3 class="funding"><a href="{{funding.link}}">{{ funding.title }}</a></h3>
            <img class="funding" src="assets/images/{{ funding.image}}"/>
        </div>

{% endfor %}

</div>