---
layout: noimage
group: navigation
linkname: funding
title: Funding - Computational Neuroscience Laboratory
pagetitle : Funding
order: 5
---
{% include JB/setup %}

<p>We thank our funding bodies.</p>

<style>
    .well2 {
        min-height: 300px;
        margin-top: 50px;

    }


    .circle-avatar{
        /* make it responsive */
        border:10px;

        max-width: 100%;
        width:100%;
        display:block;
        /* div height to be the same as width*/
        /*padding-top:100%;*/
        /*padding-bttom:100%;*/

        /* make it a circle */
        border-radius:50%;
        transform: scale(1);

        /* Centering on image`s center*/
        background-position-y: center;
        background-position-x: center;
        background-repeat: no-repeat;

        /* it makes the clue thing, takes smaller dimension to fill div */
        background-size: cover;

        /* it is optional, for making this div centered in parent*/
        margin: 0 auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

        transform: scale(0.6);
    }

    .people .box {
        margin-bottom: 20px;
        height: 500px;
    }

    .circle-avatar:hover {
        -webkit-transform:scale(0.8); /* Safari and Chrome */
        -moz-transform:scale(0.8); /* Firefox */
        -ms-transform:scale(0.8); /* IE 9 */
        -o-transform:scale(0.8); /* Opera */
        transform:scale(0.8);
    }
</style>

<!--<div class ="row vertical-align">-->
<!--{% for funding in site.data.fundings %}-->


        <!--<div class="col-xs-12 col-sm-6 text-center fundings well well2">-->
            <!--<div class="">-->
                <!--<h3 class="funding"><a href="{{funding.link}}">{{ funding.title }}</a></h3>-->
                <!--<img class="funding" src="http://www.bg.ic.ac.uk/research/c.clopath/assets/images/{{ funding.image}}"/>-->
            <!--</div>-->
        <!--</div>-->

<!--{% endfor %}-->

<!--</div>-->


<div class="row people">
    {% for funding in site.data.fundings %}

    <div class="col-md-4 text-center box">
        <a href="{{funding.link}}">
            <img src="../assets/images/{{funding.image}}" class="circle-avatar"/></a>
        <p><b>{{funding.title}}</b></p>



        <!--<h4>{{funding.title}}</h4>-->

    </div>

    {% endfor %}
</div>