<footer>
    <hr/>
    <p>
        &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}

    </p>
</footer>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
    var sc_project=7024779;
    var sc_invisible=1;
    var sc_security="aaa54025";
    </script>
<script type="text/javascript"
    src="http://www.statcounter.com/counter/counter.js"></script>
<noscript><div class="statcounter"><a title="joomla
    analytics" href="http://statcounter.com/joomla/"
    target="_blank"><img class="statcounter"
        src="http://c.statcounter.com/7024779/0/aaa54025/1/"
        alt="joomla analytics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

{% include JB/analytics %}
<script src="http://www.bg.ic.ac.uk/research/c.clopath/assets/js/jquery.min.js"></script>
<script src="http://www.bg.ic.ac.uk/research/c.clopath/assets/js/bootstrap.min.js"></script>
<!-- Background slider -->
<script src="http://www.bg.ic.ac.uk/research/c.clopath/assets/js/jquery.backstretch.min.js"></script>
<!-- OwlCarousel -->
<script src="http://www.bg.ic.ac.uk/research/c.clopath/assets/js/owl.carousel.min.js"></script>
<!-- Modal for portfolio -->
<script src="http://www.bg.ic.ac.uk/research/c.clopath/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Text rotator -->
<script src="http://www.bg.ic.ac.uk/research/c.clopath/assets/js/jquery.simple-text-rotator.min.js"></script>
<!-- Waypoints -->
<script src="http://www.bg.ic.ac.uk/research/c.clopath/assets/js/jquery.waypoints.js"></script>
<!-- CountTo  -->
<script src="http://www.bg.ic.ac.uk/research/c.clopath/assets/js/jquery.countTo.js"></script>
<!-- WOW - Reveal Animations When You Scroll -->
<script src="http://www.bg.ic.ac.uk/research/c.clopath/assets/js/wow.min.js"></script>
<!-- Smooth scroll -->
<script src="http://www.bg.ic.ac.uk/research/c.clopath/assets/js/smoothscroll.js"></script>
<!-- Fitvids -->
<script src="http://www.bg.ic.ac.uk/research/c.clopath/assets/js/jquery.fitvids.js"></script>
<!-- Custom scripts -->
<script src="http://www.bg.ic.ac.uk/research/c.clopath/assets/js/custom.js"></script>
